/* START CSS RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}
/* END CSS RESET */

:root {
  --main-background-color: rgb(5, 22, 37);
}

html {
  font-family: Poppins;
  font-size: 10px;
  font-weight: bold;
  color: white;
  background-color: var(--main-background-color);
}

body,
#total-time-display-container,
#total-time-display-div,
#input-area-container,
form,
.inputs,
.grid {
  display: grid;
  place-content: center;
  place-items: center;
}

.grid {
  grid-auto-flow: row;
}

.number-input-type-text {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.minutes-grid {
  margin-right: 3rem;
}

#total-time-display-container {
  font-size: 6rem;
  line-height: 6rem;
}

.label {
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 1rem;
  color: white;
}

.top-label {
  margin-top: 0;
}

.input-section,
#total-time-display-div {
  margin-top: 0.5rem;
  display: grid;
  grid-auto-flow: column;
}

.input-section {
  padding: 1rem;
  border: 2px solid rgba(200, 200, 200, 0.43);
  border-radius: 10px;
}

.wide {
  width: fit-content;
  place-content: center;
  padding: 0.5rem;
  border: 2px solid rgba(200, 200, 200, 0.43);
  border-radius: 10px;
}

#input-area-container {
  border-radius: 15px;
  margin-top: 1rem;
  background-image: url("./colors.png");
  background-position: center;
  overflow: hidden;
  height: fit-content;
  width: fit-content;
}

.blur {
  display: grid;
  place-content: center;
  place-items: center;
  background-color: rgba(128, 128, 128, 0.5);
  height: fit-content;
  width: fit-content;
  padding: 2rem;
  backdrop-filter: blur(40px);
}

/* BEGIN NUMBER INPUT SPINNER STYLING */
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline: none;
  -webkit-appearance: none;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 1rem;
  height: 2px;
  background-color: white;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type="number"] {
  font-family: sans-serif;
  max-width: 5rem;
  padding: 0.5rem;
  border: none;
  border-width: 0 2px;
  font-size: 2rem;
  line-height: 2rem;
  height: 3rem;
  font-weight: bold;
  text-align: center;
  background-color: transparent;
}

.plus,
.minus {
  background-color: rgba(200, 200, 200, 0.43);
}

.plus {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.minus {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.time-type-text {
  margin-top: 0.5rem;
  color: white;
}

.quantity {
  color: white;
}
/* END NUMBER INPUT SPINNER STYLING */

#reps-input {
  border-radius: 5px;
  border: none;
}

#reps-label {
  margin-bottom: 0.5rem;
}

#start-button {
  color: white;
  margin-top: 2rem;
  font-size: 3rem;
  line-height: 3rem;
  padding: 0.75rem 2rem;
  border-radius: 10px;
  border: none;
  background-color: rgba(128, 128, 128, 0.43);
  cursor: pointer;
}

/* PROGRESS BAR */
:root {
  --dot-diameter: 325px;
  --circle-border-width: 3px;
  --default-color: rgba(0, 255, 242, 0.1);
}

svg {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.progress-bar-bg {
  fill: none;
  stroke: var(--default-color);
  stroke-width: var(--circle-border-width);
}

.progress-bar {
  fill: none;
  stroke-linecap: round;
  stroke: rgb(256, 0, 103);
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
  stroke-width: var(--circle-border-width);
  transition: stroke-dashoffset 0s linear;
  /* will-change: transform; */
}

#progress-bar-container {
  display: none;
  position: relative;
  width: var(--dot-diameter);
  height: var(--dot-diameter);
}
#progress-bar-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  text-align: center;
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  justify-items: center;
}

#progress-bar-text-time {
  display: grid;
  grid-auto-flow: column;
}

#remaining-time {
  display: grid;
  grid-auto-flow: column;
  font-size: 4.2rem;
  width: min-content;
}

#progress-bar-stage {
  width: max-content;
}

#remaining-hours,
#remaining-hours-colon,
#remaining-minutes,
#remaining-minutes-colon {
  display: none;
}
