/* START CSS RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}
/* END CSS RESET */

:root {
  --main-background-color: rgb(5, 22, 37);
}

html {
  font-family: Poppins;
  font-size: 10px;
  color: white;
  background-color: var(--main-background-color);
}

body,
#total-time-display-container,
#total-time-display-div,
#input-area-container,
#progress-bar-container,
form,
.inputs,
.grid {
  display: grid;
  place-content: center;
  place-items: center;
}

.grid {
  grid-auto-flow: row;
}

.number-input-type-text {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.minutes-grid {
  margin-right: 3rem;
}

#total-time-display-container {
  font-size: 6rem;
  line-height: 6rem;
}

.label {
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 1rem;
  color: rgb(154, 200, 241);
}

.input-section,
#total-time-display-div {
  display: grid;
  grid-auto-flow: column;
}

#total-time-display-div {
}

#input-area-container {
  border: 2px solid gray;
  border-radius: 15px;
  padding: 2rem;
  padding-top: 0;
  padding-bottom: 1.5rem;
  margin-top: 1rem;
}

/*  */
/*  */
/*  */
/*  */
/* BEGIN NUMBER INPUT SPINNER STYLING */
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  /* border: 2px solid #ddd; */
  border-radius: 5px;
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline: none;
  -webkit-appearance: none;
  /* background-color: transparent; */
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 1rem;
  height: 2px;
  background-color: #212121;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type="number"] {
  font-family: sans-serif;
  max-width: 5rem;
  padding: 0.5rem;
  border: solid var(--main-background-color);
  border-width: 0 2px;
  font-size: 2rem;
  line-height: 2rem;
  height: 3rem;
  font-weight: bold;
  text-align: center;
}

.plus,
.minus {
  background-color: white;
}

.plus {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.minus {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
/* END NUMBER INPUT SPINNER STYLING */
/*  */
/*  */
/*  */
/*  */

#reps-input {
  border-radius: 5px;
}

#reps-label {
  margin-bottom: 0.5rem;
}

#start-button {
  margin-top: 2rem;
  font-size: 3rem;
  line-height: 3rem;
  padding: 0.75rem 2rem;
  border-radius: 10px;
  border: none;
  background-color: rgb(154, 200, 241);
}

/* #db65cc */
